@model IEnumerable<FellowshipLib.Person>


<table>
	<thead>
		<tr>
			<th>Last Name</th>
			<th>First Name</th>
			<th>Middle Name</th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model)
{
		<tr class="linkable"  onclick="window.document.location = '@Url.Action("Details", "People", new { id = item.Id })'" >
			<td>
				@item.LastName
			</td>
			<td>
				@item.FirstName
			</td>
			<td>
				@item.MiddleName
			</td>
		</tr>
}
	</tbody>
</table>