@model IEnumerable<FellowshipLib.Address>

@{
	ViewBag.Title = "Addresses";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary()

@if (Model != null)
{
	<div>
	@Html.Partial("AddressesListing")
	</div>
}