@model FellowshipLib.Communications

@{
	ViewBag.Title = "Communications";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary()

@if (Model != null)
{
	<div>
	@Html.Partial("CommunicationsListing")
	</div>
}
